<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns"http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <style type="text/css">
        .ReadMsgBody { width: 100%; }
        .ExternalClass { width: 100%; }
    </style>
</head>

<body style="margin: 0; padding: 0;">
    <p>Hello from Garagely,</p>

    <p>Thanks for subscribing with us for our launching updates. We are just weeks away from our official release of Garagely- India’s first virtual maintenance portal.</p>

    <p>About Us: We are india’s first doorstep car repair and maintenance portal which allows you to book car repairs and service at the comfort of you home. From now on you can skip the repair shop and call our mechanics at your home/office and they’ll fix your car on spot.</p>

    <p>We’re getting nervous as the day is coming close.</p>

    <p>Yet we don’t know much about each other. You are among the first people and ambassadors for our platform. That makes you our friend.</p>

    <p>*Handshakes*</p>

    <p>Let’s get to know each other:<br/><br/>

    1) Where are you from? Tell us something cool about yourself <br/>

    2) Where do you work? What kinda car do you drive?<br/>

    3) What is it that inspires you the most in your life?<br/><br/>

    and the most important question<br/><br/>

    4) If money were no object what would you do in life?</p>

    <p>Looking forward to hear from you.</p>

    <p>PS: Spread this url and ask friends to sign up to get discount: http://<%= Rails.application.config.action_mailer.default_url_options[:host] %>/?ref=<%= CGI::escape(@user.referral_code) %></p>

    <p>Thanks <br/>
    Team Garagely</p>
</body>
</html>
